<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/home">SENDER</a>
    <form class="d-flex">
      <input class="form-control form-search me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="d-flex align-items-center">
      <!-- <a routerLink='/chat'>chat</a> -->
      <a routerLink="/home">
        <i class="bi bi-house-door-fill fs-4 me-3 text-black" routerLinkActive="active"></i>
      </a>
      <a routerLink="/chat" *ngIf="isLogin()">
        <i class="bi bi-chat-left-text-fill fs-5 text-black" routerLinkActive="active"></i>
      </a>
      <a routerLink="/login" *ngIf="!isLogin()">
        <i class="bi bi-person-fill fs-3 me-3 text-black" routerLinkActive="active"></i>
      </a>

      <div class="dropdown" appDropdown *ngIf="isLogin()">
        <button class="btn btn-default dropdown-toggle mx-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Hi {{token.name}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
        </ul>
      </div>

      <img *ngIf="isLogin()" src="{{token.profilePicture}}"
        class="img-fluid avatar" alt="">
    </div>
  </div>
</nav>