<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #loginForm="ngForm" class=" border border-secondary rounded-2 p-4">
                <div class="w-100 d-flex justify-content-center">
                    <h2>Login form</h2>
                </div>
                <div class="mb-3">
                  <label for="InputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email" required>
                </div>
                <div class="mb-3">
                  <label for="InputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="InputPassword1" name="password" [(ngModel)]="user.password" required>
                </div>
                <div class="mb-3">
                    <span>You don't have account? </span><a routerLink="/register">Register now!</a>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success fs-5 px-5" (click)="login()">Login now</button>
                </div>
              </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>